@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.e-grid .e-gridcontent .e-table {
  @apply dark:bg-secondary-dark-bg;
}
.e-grid .e-gridcontent .e-table .e-row .e-rowcell {
  @apply dark:text-white;
}

/* .e-schedule .e-schedule-toolbar .e-toolbar-items {
  @apply dark:bg-secondary-dark-bg;
}
.e-schedule .e-schedule-toolbar .e-toolbar-items button {
  @apply dark:bg-gray-600;
}
.e-schedule .e-schedule-toolbar .e-toolbar-items button .e-tbar-btn-text {
  @apply dark:text-white;
} */
